<div class="row">
  <div class="col-md-12">
    <h1>{{course.name}}</h1>
  </div>
  <div class="col-md-4">
    <img class="img-responsive center-block" src={{#if
      course.photo}}{{course.photo}}{{else}}'https://i.imgur.com/5UyZUWd.png'{{/if}} alt="Card image cap"
      style="width: 250px;margin-bottom: 25px;">
  </div>
  <div class="col-md-8">
    <div class="well">
      <ul class="list-unstyled">
        <li><strong>Hours:</strong> {{course.hours}}</li>
        <li><strong>Tuition:</strong> NT {{course.tuition}}</li>
      </ul>
      <div id="course-cart" data-course-id="{{course.id}}"></div>
    </div>
  </div>
  <div class="col-md-12">
    <p>{{course.description}}</p>
    <br>
    {{#if isMine}}
    <a href="/courses/{{course.id}}/edit" class="btn btn-success">修改課程</a>
    <form action="/courses/{{course.id}}?_method=DELETE" method="POST" style="display: inline;">
      <input type="hidden" name="groupId" value="{{course.Group.id}}">
      <button type="submit" class="btn btn-danger" onclick="return deleteCheck()">刪除課程</button>
    </form>
    {{/if}}
  </div>
  <hr>
</div>
<br />
<br />

<h3>所有評論：</h3>
<div id="reviews-container">
  {{!-- asynchronously fetch --}}
</div>

<br>
<br>

{{#if (not loggedIn)}}
<em>登入，即可留下評論</em>
<br>
{{else if (equal user.role 'publisher')}}
<em>Publisher 不可留下評論</em>
<br>
{{else}}
<h4>留下評論：</h4>
<form action="/courses/{{course.id}}/reviews" method="POST">
  <div class="form-group">
    <label for="title">標頭: </label>
    <input type="text" class="form-control" name="title" id="title" placeholder="Enter title...">
  </div>
  <div class="form-group">
    <label for="rating">評分: </label>
    <input type="number" class="form-control" name="rating" id="rating" placeholder="1 ~ 10" step="1" min="1" max="10">
  </div>
  <div class="form-group">
    <label for="text">內容: </label>
    <textarea class="form-control" name="text" id="text" rows="3"></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
{{/if}}