<div class="row" id="group-wrapper">
  <div class="col-md-12">
    <h1>{{group.name}}</h1>
  </div>
  <div class="col-md-4">
    <img class="img-responsive center-block" src="{{group.photo}}" alt="Card image cap"
      style="width: 250px;margin-bottom: 25px;">
  </div>
  <div class="col-md-8">
    <div class="well">
      <ul class="list-unstyled">
        <li><strong>Website:</strong> {{group.website}}</li>
        <li><strong>Phone:</strong> {{group.phone}}</li>
        <li><strong>Email:</strong> {{group.email}}</li>
        <li><strong>Average Rating:</strong> {{group.averageRating}} / 10</li>
        <li><strong>Average Cost:</strong> NT {{group.averageCost}}</li>
        <li><strong>Address:</strong> {{group.address}}</li>
      </ul>
    </div>
  </div>
  <div class="col-md-12">
    <p>{{group.description}}</p>
    <br>
    {{#if (and loggedIn (not isMine) )}}
    {{#if group.isFollowed}}
    <button class="btn btn-warning btn-unfollow" data-group="{{group.id}}">Unfollow</button>
    {{else}}
    <button class="btn btn-primary btn-follow" data-group="{{group.id}}">Follow</button>
    {{/if}}
    {{/if}}
    {{#if isMine}}
    <a href="/groups/{{group.id}}/edit" class="btn btn-success">編輯群組</a>
    <form action="/groups/{{group.id}}?_method=DELETE" method="POST" style="display: inline;">
      <button type="submit" class="btn btn-danger" onclick="return deleteCheck()">刪除群組</button>
    </form>
    <div class="w-100 mb-2"></div>
    <a href="/groups/{{group.id}}/courses/new" class="btn btn-outline-primary mt-3">建立新課程</a>
    {{/if}}
  </div>
  <hr>
</div>
<br />
<br />

<div class="row justify-content-between">
  <h3 class="col-auto">
    所有課程：
  </h3>
  <div class="col-auto">
    <div class="input-group mb-3 d-flex justify-content-end">
      <label for="tuitionRange" class="pt-2 mr-2"> 學費 </label>
      <select name="tuitionRange" id="tuitionRange" class="mr-2">
        {{#each option.tuitionRange}}
        <option value="{{@key}}">{{this}}
        </option>
        {{/each}}
      </select>
      <label for="hoursRange" class="pt-2 mr-2"> 時數 </label>
      <select name="hoursRange" id="hoursRange" class="mr-2">
        {{#each option.hoursRange}}
        <option value="{{@key}}">{{this}}
        </option>
        {{/each}}
      </select>
      <label for="order-course" class="pt-2 mr-2"> 排序 </label>
      <select name="order" id="order-course">
        {{#each option.order}}
        <option value="{{@key}}">{{this}}</option>
        {{/each}}
      </select>
    </div>
  </div>
</div>

<div class="row" id="courses-container">
  {{!-- asynchronously generate --}}
</div>