<div class="card mb-3">
  <div class="card-body">
    <h5 class="card-title">{{user.name}}</h5>
    <h6 class="card-subtitle mb-2 text-muted">{{user.email}}</h6>
    <ul class="list-unstyled">
      <li><strong>{{follow.groups.length}}</strong> 追蹤群組數</li>
    </ul>
    <a href="/users/profile/edit" class="btn btn-primary mt-3">Edit</a>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        <strong>{{follow.groups.length}}</strong> 追蹤的群組
      </div>
      <div class="card-body">
        {{#each follow.groups}}
        <a href="/groups/{{this.id}}">
          <img src="{{this.photo}}" width="60px" height="60px" class="avatar">
        </a>
        {{/each}}
      </div>
    </div>
  </div>
</div>